name: Gradle CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew shadow
    - name: Rename Artifact
      run: mv ./build/libs/*.jar ./build/libs/mirai-http-api.jar
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: "mirai-http-api.jar"
        # Directory containing files to upload
        path: build/libs
